@import "tailwindcss";

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --primary: #1d4ed8; /* Dark mode primary color */
  --secondary: #3cc6d8; /* Dark mode secondary color */
  --destructive: #dc2626; /* Dark mode destructive color */
  --accent: #60a5fa; /* Dark mode accent color */
  --danger: #ef4444; /* Dark mode danger color */
  --theme: #2563eb; /* Dark mode theme color */
  --primary-foreground: #ddd; /* Adjust for dark mode */
  --success: #10b981;
}

@custom-variant dark (&:where(.dark, .dark*)); /* Apply the dark mode variant */

@theme {
  --color-background: #eff4f3;
  --color-foreground: #171717;
  --font-sans: 'Montserrat', sans-serif;
  --font-geist-mono: 'Geist Mono', monospace; /* Define the custom property */
  --color-primary: #3490dc; /* Example primary color */
  --color-secondary: #3cc6d8; /* Example secondary color */
  --color-destructive: #e3342f; /* Example destructive color */
  --color-danger: #dc2626; /* Example danger color */
  --color-accent: #a3caf4; /* Example accent color */
  --color-theme: #4a90e2; /* Example theme color */
  --color-primary-foreground: #fff; /* Set this based on your design */
  --color-success: #10b981;
}

button {
  transition: background-color 0.3s ease, transform 0.3s ease;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--background);
  font-family: var(--font-sans); /* Apply the new font family */
}